%section.section
  .has-text-centered.box
    %h1.title サブスクリプション
    %h2.subtitle
    .pricing-table
      - @plans.reverse_each do |plan|
        .pricing-plan.is-link.is-active
          .plan-header= plan.nickname
          .plan-price
            %span.plan-price-amount>
              %span.plan-price-currency> ¥
              = plan.amount
            \/月
          .plan-items
            .plan-item= "３０日間無料"
          .plan-footer
            - if user_signed_in?
              = link_to 'メンバーシップを開始', new_subscription_path(plan_nickname: plan.nickname, plan_id: plan.id), class:"button is-fullwidth"
            - else
              = link_to 'ログインして開始', new_user_session_path, class: 'button is-fullwidth'
