
%section.section
  .container
    .columns
      .column
        %nav.breadcrumb
          %ul
            %li= link_to "ユーザー一覧", admin_customers_path
            %li.is-active= @user.name
    .columns
      .column.is-4
        %h3.title= @user.name
        .email= @user.email
      .column.is-7.is-offset-1
        .card-on-file
          - if @user.card_last4?
            .card.is-3
              .card-content
                %p.title
                  サブスクリプション契約内容
                %p.subtitle
                %div
                  %ul
                    - Array(@subscribed_items).each do |item|
                      %li= "#{item.plan.nickname}（#{item.plan.amount}円/月）"
          - else
            .card.is-3
              .card-content
                %p.subtitle
                  契約中のプランはありません
%section.section
  %nav.breadcrumb
    %ul
      %li= link_to "ユーザー一覧", admin_customers_path
      %li.is-active= @user.name
  
